*{
  margin: 0;
  padding: 0;
}

body{
  background-color: deeppink;
}

.hea{
  padding:15px;
  background-color: white;
  display:flex;
  flex-direction:row; 
}

h3{
  justify-content: right;
}

a{
 text-decoration: none;
 color:black;
}